:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --text: font-family: Roboto;
}
/*title text color: #212121;*/
/*primary text color: #757575;*/
/*h1, address color: #FFFFFF;
footer link color: rgba(255, 255, 255, 0.6);*/

/*main text font-family: Roboto;
webstudio font-family: Raleway;*/

/*========= title Web Studio =========*/

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--text);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*header*/


.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.head-logo,.foot-logo {
color: #212121
}

.menu {
  display: flex;
 
}
.header {
  display: flex;
  border-bottom: 1px solid #ECECEC;
}
.navigation {
  display: flex;
  align-items: center;
}
 

.menu-item:not(:last-child) {
margin-right: 50px;
}
.menu-link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
padding-right: 50px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
cursor: pointer;

}
.menu-link:focus,
.menu-link:hover {
 color: #2196F3; 
}
  

.header-address {
  display: flex;
  margin-left: auto;
}
.header-address-list:not(:last-child) {
margin-right: 50px;

}

.address-link {
display: block;
padding-top: 32px;
padding-bottom: 32px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.address-link:focus,
.address-link:hover {
  color: #2196F3;
}
.header-address-link:focus,
.header-address-link:hover {
  fill: #2196F3;
}

.header-list-icone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-address-link {
  padding-top: 34px;
  padding-bottom: 34px;
}

.header-address-title {
  display: flex;
  align-items: center;
}
/*end header*/

/*main-sec*/

.main-sec {
  display: block;
  text-align: center;   
  padding-top: 200px;
  height: 600px;
  margin: 0 auto;
}
.main-sec-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
}



.main-sec {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C4C4C4;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url("../images/Hiro.jpg");
}

.main-sec-button {
  font-family: var(--text);
  cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.88;

text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
/*end main-sec*/

/*features*/

.features-item {
  display: flex;
  justify-content: space-between;
  
  margin-top: 68px;
  margin-bottom: 95px;
}
.features-list:not(:last-child) {
  padding-right: 30px;
}


.features-main-title {
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-top: 30px;
margin-bottom: 10px;
}
.features-description {
font-weight: 400;
font-size: 14px;
line-height: 1.72;
letter-spacing: 0.03em;

color: #757575;
}

.feature-icon-section {
  width: 270px;
  height: 120px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4%;
}

.feature-icon-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-icons {
  width: 70px;
  height: 70px;
}

/*end features*/

/*work*/

.work-img {
  display: flex;
  justify-content: space-between;
 padding-bottom: 95px;
}

.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-bottom: 50px;
}
 /*end work*/

 /*team*/
.team {
  display: flex;
  background: #F5F4FA;
  height: 650px;
}
 
 .team-list {
   display: flex;
   justify-content: space-between;
  
   
 }
.team-view {
  background-color: #FFFFFF;
  width: 270px;
  height: 430px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}


 .team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
padding-top: 95px;
margin-bottom: 50px;
color: #212121;
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 10px;

color: #212121;
}
.team-profesion {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 15px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.team-description {
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  margin-bottom: 90px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196F3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #FFFFFF;
}

 /* end team */


 /* customers */




.customers-title {
  margin-top: 95px;
  padding-bottom: 50px;
  font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}

.customers-list {
  display: flex;
  padding-bottom: 95px;
}

 .customers-name {
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4%;
 }

.customers-name:not(:last-child) {
margin-right: 30px;
}

.customers-name {
  display: flex;
  justify-content: center;
  align-items: center;
}


.customers-list-icon {
  width: 106px;
  height: 60px;
}

.customers-name:hover,
.customers-name:focus {
  background-color: #2196F3;
  cursor: pointer;
}

.customers-name:hover .customers-list-link,
.customers-name:focus .customers-list-link {
  fill: #FFFFFF;
}

/* end customers */



/*footer*/

.footer-section {
  display: flex;
  align-items: center;
  align-items: baseline;
  height: 250px;
  padding-top: 60px;
}
.footer-address {
margin-right: 70px;
}

.address {
  display: flex;
  margin-top: 20px;
  font-style: normal;
}

.main-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.mail-address, .tel-address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer {
height: 250px;
background: #2F303A;

}

.main-address:focus,
.main-address:hover {
  color: #2196F3;
}

.mail-address:focus,
.mail-address:hover {
  color: #2196F3;
}
.tel-address:focus,
.tel-address:hover {
  color: #2196F3;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);;
  border-radius: 50%;
}

.footer-name-social-list {
  font-weight: 700px;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #2196F3;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: #FFFFFF;
}

/*end footer*/

/*========= end title Web Studio =========*/



/*========= title portfolio =========*/



/* section buttons */

.list-button {
  display: flex;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 55px;
}

.portfolio-button {
margin-right: 10px;
}

.button {
font-family: var(--tex);
font-weight: 500;
font-size: 16px;
line-height: 1.63;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
background: #F5F4FA;
border-radius: 4px;
cursor: pointer;

}

.button:focus,
.button:hover {
 background: #2196F3;
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px
}

/* end section buttons */

/* Projects */

.portfolio-proj  {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-proj-list {
  width: 370px;
  height: 400px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}

.portfolio-proj-list:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-proj-list:hover,
.portfolio-proj-list:focus {
  cursor: pointer;
  background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}


.portfolio-title {
white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-proj-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-proj-title {
font-family: var(--text);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
padding-left: 25px;
margin-bottom: 5px;
}

.portfolio-proj-text {
font-family: var(--text);
font-weight: 400;
font-size: 16px;
line-height: 1.67;
letter-spacing: 0.03em;
color: #757575;
padding-left: 25px;
}


/* end section Projects */